<template>
  <main>

    <button @click="onButtonClick('True')"  v-if="type == 'boolean'" :value="true" > TRUE </button>
    <button @click="onButtonClick('False')" v-if="type == 'boolean'" :value="false" > FALSE </button>

    <button @click="onButtonClick(answers[0])" v-if="type == 'multiple'" v-html="answers[0]"></button>
    <button @click="onButtonClick(answers[1])" v-if="type == 'multiple'" v-html="answers[1]"></button>
    <button @click="onButtonClick(answers[2])" v-if="type == 'multiple'" v-html="answers[2]"></button>
    <button @click="onButtonClick(answers[3])" v-if="type == 'multiple'" v-html="answers[3]"></button>
  
  </main>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'ButtonSection',
  props: ['answers'],
  computed: {
    ...mapState(['type', 'round'])
  },
  methods: {
    ...mapActions([ 'saveAnswers', 'nextRound']),
    onButtonClick(value) {
      this.saveAnswers(value)
      this.nextRound()
    }
  },
  data() {
    return {}
  }
}
</script>

<style scoped>

</style>
