<template>
    <main>
        <h2 id="question" v-html="question" ></h2>
    </main>
</template>

<script>
export default {
    name: 'Question',
    props: ['question'],
    computed: {},
    methods: {},
    data() {
        return {  }
    }
}
</script>

<style scoped>
</style>
