<template>
  <main>
    <h1>Trivia page</h1>
    <span>{{ round + 1 }} / {{ amount }}</span>
    
    <Question :question="this.questions.results[this.round].question" />
    
    <div v-if="finished == 'finished'">
      <button @click="onFinishedClick">Go to Results</button>
    </div>
    <ButtonSection v-else :answers="this.answers" />
  </main>
</template>

<script>

import { mapState, mapActions, mapMutations } from "vuex";
import ButtonSection from "./ButtonSection.vue";
import Question from "./QuestionSection.vue";

export default {
  name: "Trivia",
  components: {
    ButtonSection,
    Question,
  },
  computed: {
    ...mapState(["question", "answers", "round", "questions", "userAnswers", "finished", "amount",]),
  },
  methods: {
    ...mapActions([]),
    ...mapMutations(["setAnswers"]),
    onFinishedClick() {
      this.$router.push("/results");
    },
  },
  created() {},
  data() {
    return {
      error: "",
    };
  },
};
</script>

<style scoped>
</style>
