
<template>
  <h1 id="questionTitle"></h1>
</template>
<script>

import { defineComponent } from "@vue/composition-api";

export default defineComponent({
  setup() {},
});
</script>

<style>
/* #questionTitle {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  width: 100%;
} */
</style>
