<template>
  <main>
    <h1>RESULTS</h1>
    <h1>Score: {{ score }} / {{amount*10}}</h1>
    <div>
    <button @click="onPlayAgainButtonClick" >Play Again</button>
    <button @click="onStartScreenButtonClick">Start Screen</button>
    </div>
  </main>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "Results",
  components: {},
  computed: {
    ...mapState(["amount", "score"]),
  },
  methods: {
      ...mapActions([ 'playAgain', 'resetStates' ]),

      onPlayAgainButtonClick() {
          this.playAgain();
          this.$router.push('/trivia')
      },
      onStartScreenButtonClick() {
          this.resetStates()
          this.$router.push('/')
      },
  }
};
</script>
