<template>
    <div>
        <h1>Trivia</h1>

        <form>
            <label>Category</label>
            <select v-model="selectedCategory">
                <option value="">Choose a category</option>
                <option v-for="category of categories" :value="category.id" :key="category.id">
                    {{ category.name }}
                </option>
            </select>
        </form>

        <form>
            <label>Difficulty</label>
            <select v-model="selectedDifficulty">
            <option value="">Choose a difficulty</option>
            <option v-for="difficulty of difficulties" :value="difficulty.abbr" :key="difficulty.abbr">
                {{ difficulty.name }}
            </option>
            </select>
        </form>

        <form>
            <label>Multiple Choice or True/False</label>
            <select v-model="selectedType">
                <option value="">Choose a type of trivia</option>
                <option v-for="type of types" :value="type.abbr" :key="type.abbr">
                    {{ type.name }}
                </option>
            </select>
        </form>

        <form>
            <label>Number of questions: {{ selectedAmount }}</label>
            <div class="slidecontainer">
                <input type="range" min="1" max="50" class="slider" id="myRange" v-model="selectedAmount"/>
            </div>
        </form>

        <section v-if="error">
            <p class="mb-0">{{ error }}</p>
        </section>

        <button @click="onPlayClick" type="submit">Play</button>

    </div>
</template>

<script>
import { mapActions, mapMutations } from "vuex";
import { QuestionAPI } from "@/components/Questions/QuestionAPI";

export default {
  name: "Mainscreen",
  async created() {
    try {
      const fetchedCategories = await QuestionAPI.fetchQuestionCategories();
      this.categories = fetchedCategories.trivia_categories;
    } catch (e) {
      this.error = e.message;
    }
  },
  methods: {
    ...mapActions(["fetchQuestions"]),
    ...mapMutations(["setCategory", "setDifficulty", "setType", "setAmount"]),

    onPlayClick(){
        if (!this.selectedCategory || !this.selectedDifficulty || !this.selectedAmount || !this.selectedType) {
            this.error = "You need to fill all sections";
            return;
        }  
        this.setAmount(this.selectedAmount, this.selectedAmount);
        this.setCategory(this.selectedCategory, this.selectedCategory);
        this.setDifficulty(this.selectedDifficulty, this.selectedDifficulty);
        this.setType(this.selectedType, this.selectedType);
        this.fetchQuestions();
        this.$router.push('/trivia')
    },
  },
  data() {
    return {
      categories: [],
      difficulties: [
        {
          abbr: "easy",
          name: "Easy",
        },
        {
          abbr: "medium",
          name: "Medium",
        },
        {
          abbr: "hard",
          name: "Hard",
        },
      ],
      types: [
        {
          abbr: "multiple",
          name: "Multiple Choice",
        },
        {
          abbr: "boolean",
          name: "True or False",
        },
      ],
      selectedAmount: 1,
      selectedCategory: "",
      selectedType: "",
      selectedDifficulty: "",
      error: "",
    };
  },
};
</script>

<style scoped>
</style>
